
.lessonArea {
	position: absolute;
	width: 90%;
	height: 65%;
	left: 5%;
	top: 28%;
	z-index: 9998;
	border-radius: 1%;
	overflow-y: scroll;


}



/*or lessonset 1 etc */
.lessonArea div {
	display: flex;
	align-items:flex-start;
	justify-content: center;
	font-weight: bold;
	font-family:  'Exo 2', sans-serif;
	width: 100%;
	height: 100vh;
	flex-wrap: wrap;
}

.lessonArea div:nth-child(1) {
	background-image: url(../images/touch-typing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-attachment: fixed;
	overflow: hidden;
}
.lessonArea div:nth-child(2) {
	background-image: url(../images/rgb2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.lessonArea div:nth-child(3) {
	background-image: url(../images/0-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.lessonArea div:nth-child(4) {
	background: aquamarine;
	background-image: url(../images/keyboard4.jpg);
	background-size: cover;
}


.lessonTitle {
	font-size: 100%;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	cursor: pointer;
}
h4 {
	font-size: 150%;
}
#lessonDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px;
	width: 250px;
	height: 150px;
	background: aliceblue;
	border-radius: 16px;
	opacity: 0.8;
	box-shadow: 3px 3px black;
	font-weight: bold;
	white-space: pre;
	flex: 1 0 25%;
	background-image: url('../images/blue.png');
	
	
	
}


